@import "../../style/variables.scss";

.flight-details {
    background: $blue-menu;

    h2 {
        background: #0a1f32;
        color: white;
        margin: 0;
        padding: 1rem 0;
        font-weight: 300;
        font-size: 1.2rem;
        text-align: center;
    }
}