.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        h1 {
            margin: 0 0 0 40px;
            font-weight: bold;
            font-size: 1.2rem;
            letter-spacing: 1px;
            span {
                margin-right: 5px;
                font-weight: 300;
                font-style: italic;
            }
        }
        &>span {
            margin-top: -10px;
            margin-left: 45px;
            font-size: 0.8rem;
            opacity: 0.8;
        }
    }
    &>div {
        width: auto;
        margin-right: 40px;
    }
}