.notes {
    margin: 5px;
    &>div,
    .card-content {
        width: 100%;
        height: 100%;
    }
    .large-text-field  {
        height: calc(100% - 40px);

        &>div {
            height: 100%;
        }
    }
    button {
        display: block;
        margin: 10px auto;
    } 
}